@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />


<div id='map' style='width: 100%; height: 800px'></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiY29uaGFpbmluZyIsImEiOiJjazJucDduMWIwc3N6M214NWNvNHp5YTN1In0.BXXScY-poKaEBDizUeYDUQ';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/conhaining/ck7p9dybm05up1io58zj7u77f',
        center: [-3.204165, 55.949680],
        zoom: 11
    });

    map.on('load', function() {
        const url = 'api/locations';
        window.setInterval(function() {
            map.getSource('liveBuses').setData(url);
        }, 15000);

        map.loadImage('img/arrow.png',
            (error, image) => {
                if (error) { throw error; }
                map.addImage('arrow', image);

                map.addSource('liveBuses', { type: 'geojson', data: url });
                map.addLayer({
                    'id': 'buses',
                    'type': 'symbol',
                    'source': 'liveBuses',
                    'layout': {
                        'icon-image': 'arrow',
                        'icon-allow-overlap': true,
                        'icon-rotate': ['get', 'heading'],
                    }
                }); 

            });

        
    });
</script>